.formProduto {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.formProduto form {
    width: 600px;
    height: 370px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #333;
    box-shadow: 5px 5px 10px #555;
}

.formProduto h1 {
    margin-bottom: 20px;
}