/*  table */
.tableProdutos {
    width: 80%;
    margin-block: 20px;
    margin-inline: auto;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

.tableProdutos tr {
    height: 40px;
}

.tableProdutos tr:nth-child(even) {
    background-color: #ccc;
}
.tableProdutos tr:nth-child(odd) {
    background-color: #fff;
}

.tableProdutos td {
    text-align: center;
}

.tableProdutos th {
    background-color: #ccc;
    height: 40px;
    position: sticky;
    top: 0;
    text-transform: uppercase;
}

/* modal */
.modal {
    max-width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    padding: 10px 50px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal h3 {
    color: #fff;
}

.modalBtn {
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 8px;
    cursor: pointer;
}

@media (max-width: 560px) {
    .modal {
        padding: 5px 5px;
    }
}