/* reset */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

/* header, main and footer */
.header, .footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.header2 {
    display: flex;
    justify-content: center;
}

.footer {
    height: 35px;
}

.main {
    height: 100%;
    padding-block: 20px;
    text-align: center;
}

/* .headerTitle {
    margin: 0;
} */

/* form block */
.formProduto {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.formProduto form {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #333;
    box-shadow: 5px 5px 10px #555;
}

/* inputs */
.input {
    width: 300px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    border: 1px solid #333;
    color: #000;
    outline: 0;
}
.input:focus {
    background-color: #eee;
}

.searchInput {
    border-radius: 5px;
}

/* wrapper */
.wrapper {
    position: relative;
    display: inline-block;
}
.wrapper input {
    width: 220px;
    padding: 8px;
    padding-right: 20px;
    margin: 0;
}
.wrapper button {
    position: absolute;
    top: 5px;
    right:5px;
}

/* buttons */
.button {
    width: 326px;
    border-radius: 10px;
    margin-block: 5px;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
}

.white {
    background-color: #eee;
    color: #000;
}
.white:hover {
    background-color: #ccc;
}

.black {
    background-color: #333;
    color: #fff;
}
.black:hover {
    background-color: #555;
}

.smallBtn {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
    margin-left: 10px;
}

/* icons */
.icon {
    border: 0;
    background-color: transparent;
}
.icon img {
    height: 20px;
    cursor: pointer;
}

/* header icons */
.iconHeader button {
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.iconHeader img {
    height: 20px;
}

/* flash message */
.flashes {
    list-style-type: none;
    background-color: rgb(170, 214, 255);
    text-align: center;
    font-size: 1.3rem;
    padding-block: 10px;
    margin: 0;
}

/* select */
.select {
    width: 330px;
    padding: 13px;
    border-radius: 5px;
    margin-block: 10px;
}

/* titles */
h1, h2 {
    margin-block: 10px 20px;
    margin-inline: 10px;
}