{% extends "layout.html" %}

{% block title %}
    Estoque
{% endblock %}

{% block main %}
    <div class="formProduto">
        <h1>Adicionar produto ao estoque</h1>
        <form action="/add" method="post">
            <input class="input" autocomplete="off" autocapitalize="on" type="text" required placeholder="Nome" name="nome" autofocus>
            <input class="input" autocomplete="off" type="number" required min="1" placeholder="Quantidade" name="quantidade">
            <input class="input" autocomplete="off" type="number" required min="0" step="0.01" placeholder="Valor" name="valor">
            <button class="button white" type="submit">Adicionar</button>
        </form>
    </div>
{% endblock %}