{% extends "layout.html" %}

{% block title %}
    Estoque
{% endblock %}

{% block main %}
    <h1>Editar Produto</h1>
    <div class="formProduto">
        <form action="/edit" method="post">
            <input type="hidden" value="{{ produto[0] }}" name="id">
            <input class="input" autocomplete="off" autocapitalize="sentence" type="text" required value="{{ produto[1] }}" placeholder="Nome" name="nome" autofocus>
            <input class="input" autocomplete="off" type="number" required value="{{ produto[2] }}" placeholder="Quantidade" name="quantidade">
            <input class="input" autocomplete="off" type="number" required value="{{ produto[3] }}" step="0.01" placeholder="Valor" name="valor">
            <select class="select" name="categoria">
                <option selected="true" disabled="disabled" >Categoria</option>
                <option value="Cama" {{ "selected" if produto[4]=="Cama"}} >Cama</option>
                <option value="Mesa" {{ "selected" if produto[4]=="Mesa"}} >Mesa</option>
                <option value="Banho" {{ "selected" if produto[4]=="Banho"}} >Banho</option>
                <option value="Plástico" {{ "selected" if produto[4]=="Plástico"}} >Plástico</option>
                <option value="Cozinha" {{ "selected" if produto[4]=="Cozinha"}} >Cozinha</option>
            </select>
            <button class="button white" type="submit">Editar produto</button>
        </form>
    </div>
{% endblock %}