<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/home.css">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <h1 class="headerTitle">Estoque da Loja</h1>
        
        <section class="header2">
            <a class="iconHeader" href="/">
                <button>
                    <img src="/static/images/home.png" alt="icone de casa indicando a página principal">
                </button>
            </a>
            <a class="iconHeader" href="/add">
                <button>
                    <img src="/static/images/plus.png" alt="icone de + indicando a página de inserção de produto">
                </button>
            </a>
            <form class="wrapper" action="/search">
                <input type="text" class="searchInput input" name="q" placeholder="Procure por ID, nome ou categoria" required>
                <button type="submit" class="icon">
                    <img src="static/images/search.png" alt="icone de lupa para pesquisar">
                </button>
            </form>
        </section>
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <main class="main">
        {% block main %}

        {% endblock %}
    </main>
    
    <footer class="footer">
        Desenvolvido por Luan &copy; 2025
    </footer>
    <script src="static/deleteModal.js"></script>
</body>
</html>